
ProgramFiles/*.txt
ProgramFiles/update_config/*.txt
ParodyWindows11.code-workspace
ProgramFiles.zip
ProgramFiles/history.*
ProgramFiles/IPChat/_serverConfig.*
ProgramFiles/IPChat/contactsList.*
ProgramFiles/IPChat/serversList.*
/__pycache__/
softwareStoreApps.json
history.*
/.vs
/obj/Debug
/ProgramFiles/GUEST
/ProgramFiles/HeheBoi420
/ProgramFiles/CRASHLOGS
/ProgramFiles/theme_config.txt
/PW11.code-workspace
/PW11.pyproj
ProgramFiles/*.conf
mah-wallpaper-png.png
ProgramFiles/__pycache__/
ProgramFiles/Notepad_v3/__pycache__
ProgramFiles/BlackJack/__pycache__
ProgramFiles/Icons/*.identifier
ProgramFiles/history
mah-wallpaper-png.png:Zone.Identifier
/lib/
/lib64/
/include/
/bin/
pyvenv.cfg
lib64
