
ProgramFiles/__pycache__/updateManager.cpython-311.pyc
ProgramFiles/accConfiguration.conf
ProgramFiles/Icons/BlackJack.png
ProgramFiles/Icons/Files.png
ProgramFiles/Icons/fileshare.png
ProgramFiles/Icons/LoadExternalApps.png
ProgramFiles/Icons/Notepad.png
ProgramFiles/Icons/OnlineBanking.png
ProgramFiles/Icons/UpdateManager.png
ProgramFiles/pinnedApps.txt
ProgramFiles/update_config/LAST_UPDATE.txt
ProgramFiles/update_config/VERSION.txt
ProgramFiles/updateManager.py
Icons/TEST.txt
Icons/TEST.txt
Icons/TEST.txt
ProgramFiles/Icons/FileManager.png
Icons/TEST.txt
Icons/TEST.txt
Icons/TEST.txt
OnlineBanking.py
ParodyWindows11.code-workspace
ProgramFiles/__pycache__/AlarmsAndTimer.cpython-311.pyc
ProgramFiles/__pycache__/CommandPrompt.cpython-310.pyc
ProgramFiles/__pycache__/CommandPrompt.cpython-311.pyc
ProgramFiles.zip
ProgramFiles/__pycache__/FileManager.cpython-311.pyc
ProgramFiles/__pycache__/IPChat.cpython-311.pyc
ProgramFiles/__pycache__/LoadExternalApps.cpython-311.pyc
ProgramFiles/__pycache__/Notepad.cpython-311.pyc
ProgramFiles/__pycache__/softwareStore.cpython-311.pyc
ProgramFiles/__pycache__/WebBrowser.cpython-311.pyc
ProgramFiles/history.bak
ProgramFiles/history.dat
ProgramFiles/history.dir
ProgramFiles/history.txt
ProgramFiles/Icons/IPChat.png
ProgramFiles/Icons/restart.png
ProgramFiles/Icons/Settings.png
ProgramFiles/Icons/shutdown.png
ProgramFiles/Icons/WebBrowser.png
ProgramFiles/IPChat/_serverConfig.bak
ProgramFiles/IPChat/_serverConfig.dat
ProgramFiles/IPChat/_serverConfig.dir
ProgramFiles/IPChat/contactsList.bak
ProgramFiles/IPChat/contactsList.dat
ProgramFiles/IPChat/contactsList.dir
ProgramFiles/IPChat/serversList.bak
ProgramFiles/IPChat/serversList.dat
ProgramFiles/IPChat/serversList.dir
ProgramFiles/pinnedAppsDesktop.txt
ProgramFiles/pinnedAppsTaskbar.txt
Icons/TEST.txt
Icons/TEST.txt
