
ProgramFiles/__pycache__/updateManager.cpython-311.pyc
ProgramFiles/accConfiguration.conf
ProgramFiles/pinnedApps.txt
ProgramFiles/update_config/LAST_UPDATE.txt
ProgramFiles/update_config/VERSION.txt
Icons/TEST.txt
Icons/TEST.txt
Icons/TEST.txt
Icons/TEST.txt
Icons/TEST.txt
Icons/TEST.txt
OnlineBanking.py
ParodyWindows11.code-workspace
ProgramFiles/__pycache__/AlarmsAndTimer.cpython-311.pyc
ProgramFiles/__pycache__/CommandPrompt.cpython-310.pyc
ProgramFiles/__pycache__/CommandPrompt.cpython-311.pyc
ProgramFiles.zip
ProgramFiles/__pycache__/FileManager.cpython-311.pyc
ProgramFiles/__pycache__/IPChat.cpython-311.pyc
ProgramFiles/__pycache__/LoadExternalApps.cpython-311.pyc
ProgramFiles/__pycache__/Notepad.cpython-311.pyc
ProgramFiles/__pycache__/softwareStore.cpython-311.pyc
ProgramFiles/__pycache__/WebBrowser.cpython-311.pyc
ProgramFiles/history.bak
ProgramFiles/history.dat
ProgramFiles/history.dir
ProgramFiles/history.txt
ProgramFiles/IPChat/_serverConfig.bak
ProgramFiles/IPChat/_serverConfig.dat
ProgramFiles/IPChat/_serverConfig.dir
ProgramFiles/IPChat/contactsList.bak
ProgramFiles/IPChat/contactsList.dat
ProgramFiles/IPChat/contactsList.dir
ProgramFiles/IPChat/serversList.bak
ProgramFiles/IPChat/serversList.dat
ProgramFiles/IPChat/serversList.dir
ProgramFiles/pinnedAppsDesktop.txt
ProgramFiles/pinnedAppsTaskbar.txt
Icons/TEST.txt
Icons/TEST.txt
ProgramFiles/Vijay/__pycache__/FileInspector.cpython-311.pyc
ProgramFiles/Vijay/APPS_COMMAND_LST
ProgramFiles/Vijay/APPS_LIST.txt
ProgramFiles/Vijay/FileInspector.py
ProgramFiles/Vijay/pinnedAppsDesktop.txt
ProgramFiles/Vijay/pinnedAppsTaskbar.txt
ProgramFiles/Viswas/APPS_COMMAND_LST
ProgramFiles/Viswas/APPS_LIST.txt
ProgramFiles/Viswas/pinnedAppsDesktop.txt
ProgramFiles/Viswas/pinnedAppsTaskbar.txt
ProgramFiles/APPS_LIST.txt
ProgramFiles/APPS_COMMAND_LST
ProgramFiles/accConfiguration2.conf
ProgramFiles/fileinspectorSETUP.py
ProgramFiles/accConfiguration1.conf
ProgramFiles/APPS_COMMAND_LST
ProgramFiles/fileinspectorSETUP.py
ProgramFiles/APPS_LIST.txt
__pycache__/syntax_checker.cpython-311.pyc
ProgramFiles/__pycache__/BlackJack.cpython-311.pyc
ProgramFiles/__pycache__/errorHandler.cpython-310.pyc
ProgramFiles/__pycache__/errorHandler.cpython-311.pyc
ProgramFiles/__pycache__/errorHandles.cpython-311.pyc
ProgramFiles/__pycache__/fileshare.cpython-311.pyc
ProgramFiles/Blackjack/__pycache__/blackjack.cpython-311.pyc
ProgramFiles/Blackjack/__pycache__/functions_for_blackjack.cpython-311.pyc
ProgramFiles/Notepad_v3/__pycache__/notepadGUI.cpython-311.pyc
ProgramFiles/Notepad_v3/__pycache__/syntax_checker.cpython-311.pyc
softwareStoreApps.json
softwareStoreApps.json
Documents/This is a test PDF VIEW MODE.pdf
Documents/This is a test PDF.pdf
Documents/This is a test PDF PRT MODE.pdf
Documents/This is a test PDF PRT MODE TEST.pdf
Documents/test.txt
Documents/hello.txt
history.dat.bak
history.dat.dat
history.dat.dir
ProgramFiles/Vijay/theme_config.txt
ProgramFiles/Viswas/theme_config.txt
Windows 11 INSTALLER.py
Windows 11 INSTALLER.py
ProgramFiles/Viswas/theme_config.txt
ProgramFiles/Viswas/theme_config.txt
Windows 11 INSTALLER.py
ProgramFiles/Viswas/theme_config.txt
ProgramFiles/Viswas/theme_config.txt
ProgramFiles/Viswas/theme_config.txt
/.vs/ParodyWindows11/FileContentIndex
/.vs/ParodyWindows11/v17/.wsuo
/.vs
/obj/Debug
/ProgramFiles/__pycache__
/ProgramFiles/GUEST
/ProgramFiles/HeheBoi420
/ProgramFiles/CRASHLOGS
/ProgramFiles/theme_config.txt
/PW11.code-workspace
/PW11.pyproj
ProgramFiles/HeheBoi69420/USER_CONFIG.dir
ProgramFiles/HeheBoi69420/USER_CONFIG.dat
ProgramFiles/HeheBoi69420/USER_CONFIG.bak
ProgramFiles/accConfiguration3.conf
ProgramFiles/HeheBoi/USER_CONFIG.bak
ProgramFiles/HeheBoi/USER_CONFIG.dat
ProgramFiles/HeheBoi/USER_CONFIG.dir
ProgramFiles/accConfiguration4.conf
ProgramFiles/Vijay/USER_CONFIG.bak
ProgramFiles/Vijay/USER_CONFIG.dat
ProgramFiles/Vijay/USER_CONFIG.dir
ProgramFiles/Vijay/USER_CONFIG.dir
ProgramFiles/Vijay/USER_CONFIG.dat
ProgramFiles/Vijay/USER_CONFIG.bak
__pycache__/Windows 11.cpython-311.pyc
ProgramFiles/Test.bak
ProgramFiles/Test.dat
ProgramFiles/Test.dir
ProgramFiles/Test/USER_CONFIG.bak
ProgramFiles/Test/USER_CONFIG.dat
ProgramFiles/Test/USER_CONFIG.dir
ProgramFiles/Vijay/USER_CONFIG.bak
ProgramFiles/Vijay/USER_CONFIG.dat
ProgramFiles/Vijay/USER_CONFIG.dir
ProgramFiles/Viswas/theme_config.txt
ProgramFiles/Vijay/USER_CONFIG.bak
ProgramFiles/Vijay/USER_CONFIG.dir
ProgramFiles/Vijay/USER_CONFIG.dat
ProgramFiles/Viswas/theme_config.txt
mah-wallpaper-png.png
__pycache__/ParWFS.cpython-311.pyc
